@tailwind base;
@tailwind components;
@tailwind utilities;

.short_description{
    width: 200px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}